<footer>

  <footer>

  <div class="section1">
  	<ul>
      <a href="/">Startpagina</a>
      <a href="/list">Parkeerdata</a>
      <a href="/map">Parkeren</a>
  	</ul>
  </div>

  <div class="social">

  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-google"></a>
  <a href="#" class="fa fa-linkedin"></a>
  </div>

  <p>2019-2020 - BAS WILLEMS | ARNOUD TECK | YASCHA TORFS</p>
  <p class="project">A project from students for people</p>

  </footer>

</footer>
